## Intoduction to numpy, pandas, and matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
np, pd, plt

(<module 'numpy' from '/Users/mattkrepp/opt/anaconda3/lib/python3.9/site-packages/numpy/__init__.py'>,
 <module 'pandas' from '/Users/mattkrepp/opt/anaconda3/lib/python3.9/site-packages/pandas/__init__.py'>,
 <module 'matplotlib.pyplot' from '/Users/mattkrepp/opt/anaconda3/lib/python3.9/site-packages/matplotlib/pyplot.py'>)

In [3]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'Bytes0',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'Datetime64',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Str0',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'Uint64',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_financial_names',
 '_globals',
 '_mat',
 '_pytesttester',
 '_version',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'error_message',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mkl',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'w',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

## numpy Datatypes
### float32 and float64

In [4]:
x = np.float32(2 ** 127)
x, type(x)

(1.7014118e+38, numpy.float32)

In [5]:
x = np.float32(2 ** 128)
x, type(x)

(inf, numpy.float32)

In [6]:
x = np.float64(2 ** 1023)
x, type(x)

(8.98846567431158e+307, numpy.float64)

In [7]:
x = np.float64(2 ** 1024)
x, type(x)

OverflowError: int too large to convert to float

## Arrays have a fixed datatype

In [ ]:
list = [1.,2.,3.,4.,5.]
array = np.array(list)
array, type(array), array.dtype

In [ ]:
# np.arange creates array similar to how one would use a for loop // generator to create a list
start = 0
end = 100
interval = 10
range_array = np.arange(start,end + 1, interval)
range_array

In [ ]:
range_list = [i for i in range(start, end + 1, interval)]
range_list

## Two Dimensional Lists and Arrays

### Create Two Dimensional List

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
list_of_lists

### Transform that Two Dimensional List into Two Dimensional Array

In [ ]:
two_dim_array = np.array(list_of_lists)
two_dim_array

In [ ]:
two_dim_array[0]

In [ ]:
two_dim_array[0][0]

### Call the 1st Element of the 0th row

In [ ]:
two_dim_array[0][1]

### Use for loop to call the first index in the two_dim_array as i, calling two_dim_array will yield ith row

In [ ]:
for i in range(len(two_dim_array)):
    print(i)
    print(two_dim_array[i])

### Passing the row to a second for loop will cycle through the second row index as j. Calling row j will yield the jth value from the row

In [ ]:
print("i j:")
for i in range(len(two_dim_array)):
    row = two_dim_array[i]
    for j in range(len(two_dim_array[i])):
        print(i,j)
        print("val:", row[j])

In [ ]:
for row in two_dim_array:
    print(row)
    for val in row:
        print(val)

## np.zeros(), np.ones(), np.empty(), np.zeros_like(), np.ones_like(), np.empty_like()

In [ ]:
np.zeros((10,10))

In [ ]:
np.empty((10,10))

In [ ]:
np.ones((10,10))

In [ ]:
l = list_of_lists
np.zeros_like(l)

In [ ]:
l = list_of_lists
np.ones_like(l)

In [ ]:
np.empty_like(l)

## Log Values

In [ ]:
# np.log() uses log base e
np.log(1)

In [ ]:
np.log(np.e)

In [ ]:
np.log(two_dim_array)

In [ ]:
pi = np.pi
e = np.e
lne = np.log(e)
infinity = np.inf
null_val = np.nan
pi, e, lne, infinity, null_val

## Pandas

In [ ]:
data_dict = {"0 to 9":np.arange(10),
            "ones":np.ones(10),
            "zeros":np.zeros(10)}
data_dict

In [ ]:
df = pd.DataFrame(data_dict)
df

In [ ]:
df["0 to 9"], type(df["0 to 9"])

### A Dataframe consists of one or more series

In [ ]:
## calling a list of keys will return a dataframe
df[["0 to 9"]]

### Calling by Row

In [ ]:
df.iloc[0]

In [ ]:
df.loc[[0,1,2,3]]

In [ ]:
# this is often needed for pandas to save certain values for you
df.loc[:3, "0 to 9"]

In [ ]:
# Row indices are keys. Using df.loc() allows you to call each row by name

In [ ]:
df.T

In [ ]:
df.T.loc["0 to 9"]

In [ ]:
df.T.iloc[0]

## Boolean Series and Arrays

In [ ]:
greater_than_3 = df["0 to 9"] > 3
greater_than_3

In [ ]:
df[greater_than_3]

In [ ]:
df[df["0 to 9"] > 3]

In [ ]:
# Create artificial data

macro_dict = {"GDP": {},
              "Money": {},
              "Real GDP": {},
              "Price Level": {}}
for key in macro_dict.keys():
    for i in range (1990, 2021):
        macro_dict[key][i] = np.random.random() * 10000

macro_dict

In [ ]:
macro_DF = pd.DataFrame(macro_dict)
macro_DF

In [ ]:
macro_DF[["GDP"]]

In [ ]:
macro_DF["Velocity"] = macro_DF["Price Level"].mul(macro_DF["Real GDP"].div(macro_DF["Money"]))
macro_DF

## matplotlib

In [ ]:
import matplotlib.pyplot as plt
macro_DF.plot()

In [ ]:
#plot using method for matplotlib from the pandas Dataframe
fig, ax = plt.subplots(figsize = (20,12))
macro_DF.plot(linewidth = 5, alpha = .7, legend = False, ax = ax) #color = "cb"
ax.legend(fontsize = 20)

In [ ]:
fig, ax = plt.subplots(figsize = (10,6))
for key in macro_DF:
    macro_DF[key].plot.line()
    ax.set_title(key, fontsize = 20)

In [ ]:
# our goal is to create a multiplot visualization with a seperate plot area for each variable
num_vars = len(macro_DF.keys())
fig, ax = plt.subplots(1, num_vars, figsize = (20,6))

for i in range (num_vars):
    key = list(macro_DF.keys())[i]
    macro_DF[key].plot.line(ax = ax[i])
    ax[i].set_title(key, fontsize = 20)

In [ ]:
# plot using method for matplotlib from the pandas DataFrame
num_vars = len(macro_DF.keys())

# create a plot with a subplot for each variable (total 5)
fig, axs = plt.subplot(1, num_vars, figsize = (20,6))

# to plot each variable on each plot, cycle through index of the keys
for i in range(num_vars):
    
    ax = axs[i]
    # call key by index number
    key = list(macro_DF.keys())[i]
    
    alpha = .1 + .15 * i 
    # set color in light of number i so that it is "Ci"
    color = "C" + str(i)
    # plot key according to index number in ax
    macro_DF[key].plot.line(color = color, alpha = alpha, ax = ax)
    ax[i].set_title(key, fontsize = 20)

In [ ]:
for key in macro_DF:
    fig, ax = plt.subplots(figsize = (10,6))
    macro_DF[key].plot.line()
    ax.set_title(key, fontsize = 20)

## Plotting Income Distribution

In [3]:
income_data = pd.read_excel("http://www2.census.gov/programs-surveys/cps/tables/hinc-06/2019/hinc06.xls", header=[7])
income_data = income_data.rename(columns = {"Unnamed: 0": "Household Income"})
income_data

,Household Income,Number,Mean Income,Unnamed: 3,Number.1,Mean Income.1,Unnamed: 6,Number.2,Mean Income.2,Unnamed: 9,...,Unnamed: 18,Number.6,Mean Income.6,Unnamed: 21,Number.7,Mean Income.7,Unnamed: 24,Number.8,Mean Income.8,Unnamed: 27
0,Income of Household,NaN,Dollars,Standard Error,NaN,Dollars,Standard Error,NaN,Dollars,Standard Error,...,Standard Error,NaN,Dollars,Standard Error,NaN,Dollars,Standard Error,NaN,Dollars,Standard Error
1,....Total,128579.0,90021,546,102505.0,93687,623,100528.0,93948,628,...,818,7416.0,118912,2145,6981.0,119816,2261,17758.0,70945,984
2,"Under $5,000",4283.0,1073,45,2729.0,1107,60,2663.0,1099,61,...,76,299.0,876,131,281.0,861,139,604.0,1158,104
3,"$5,000 to $9,999",3337.0,8017,39,2286.0,7955,52,2236.0,7933,52,...,67,110.0,7728,185,107.0,7691,186,567.0,7950,77
4,"$10,000 to $14,999",5510.0,12357,29,3927.0,12428,35,3821.0,12427,36,...,60,204.0,12225,153,197.0,12185,153,846.0,12206,71
5,"$15,000 to $19,999",5772.0,17312,33,4273.0,17313,39,4173.0,17313,39,...,68,219.0,17386,160,203.0,17317,155,918.0,17114,69
6,"$20,000 to $24,999",5672.0,22246,34,4352.0,22247,40,4244.0,22252,40,...,74,245.0,21924,141,226.0,21927,150,1039.0,21965,67
7,"$25,000 to $29,999",5469.0,27116,34,4231.0,27172,39,4132.0,27179,40,...,73,231.0,26958,167,214.0,26929,175,948.0,26767,70
8,"$30,000 to $34,999",5822.0,32041,32,4460.0,32072,36,4367.0,32076,37,...,74,215.0,31771,151,207.0,31762,155,966.0,31795,66
9,"$35,000 to $39,999",5404.0,37067,30,4259.0,37092,35,4178.0,37099,35,...,76,200.0,36913,152,192.0,36914,158,990.0,36864,67
10,"$40,000 to $44,999",5195.0,42026,34,4038.0,42046,39,3949.0,42042,39,...,90,262.0,41764,140,244.0,41781,141,876.0,41694,67
11,"$45,000 to $49,999",4839.0,47066,32,3927.0,47080,36,3830.0,47073,36,...,87,182.0,46994,166,161.0,46982,175,801.0,46985,71
12,"$50,000 to $54,999",5300.0,51841,35,4169.0,51822,41,4102.0,51818,41,...,86,239.0,51879,163,231.0,51865,166,858.0,51716,72
13,"$55,000 to $59,999",4417.0,57117,38,3612.0,57124,42,3546.0,57134,43,...,100,210.0,56886,156,198.0,56861,164,678.0,56973,84
14,"$60,000 to $64,999",4604.0,61990,35,3715.0,62007,39,3627.0,62005,39,...,89,241.0,61960,148,229.0,61966,157,737.0,61850,86
15,"$65,000 to $69,999",3999.0,67178,39,3328.0,67197,44,3246.0,67202,45,...,95,179.0,67013,167,159.0,67031,181,527.0,67150,100
16,"$70,000 to $74,999",3795.0,72040,42,3127.0,72063,46,3083.0,72061,47,...,125,190.0,72034,153,173.0,72025,161,546.0,71988,94
17,"$75,000 to $79,999",3950.0,77038,45,3246.0,77053,49,3180.0,77064,49,...,115,201.0,76952,171,191.0,76979,170,638.0,76871,81
18,"$80,000 to $84,999",3349.0,82006,43,2750.0,82038,45,2700.0,82048,46,...,142,199.0,81671,150,183.0,81739,162,478.0,81848,107
19,"$85,000 to $89,999",3064.0,87071,49,2527.0,87090,54,2485.0,87097,55,...,127,187.0,86924,151,174.0,86910,153,366.0,86793,111
20,"$90,000 to $94,999",3102.0,91964,44,2635.0,91959,49,2586.0,91969,49,...,142,171.0,91853,170,153.0,91929,181,410.0,91637,114
21,"$95,000 to $99,999",2581.0,97110,45,2199.0,97137,49,2162.0,97141,50,...,170,147.0,96916,180,138.0,96887,190,369.0,96952,119
22,"$100,000 to $104,999",2866.0,101902,47,2364.0,101972,51,2333.0,101968,51,...,130,214.0,101261,134,206.0,101232,137,284.0,101876,111
23,"$105,000 to $109,999",2449.0,107036,49,2040.0,107046,52,2016.0,107037,53,...,177,164.0,107014,181,156.0,106938,183,277.0,106856,122
24,"$110,000 to $114,999",2318.0,112045,41,1964.0,112078,46,1929.0,112079,47,...,139,122.0,111709,198,117.0,111693,204,242.0,112004,141
25,"$115,000 to $119,999",1971.0,117162,56,1656.0,117206,62,1621.0,117205,63,...,149,131.0,116751,189,125.0,116803,195,233.0,117126,140
26,"$120,000 to $124,999",2004.0,121949,52,1653.0,121955,55,1626.0,121956,55,...,204,148.0,121388,159,135.0,121417,159,240.0,121943,151
27,"$125,000 to $129,999",1780.0,127112,52,1515.0,127144,53,1477.0,127150,55,...,165,120.0,126834,209,113.0,126866,219,179.0,127017,163
28,"$130,000 to $134,999",1678.0,132082,59,1391.0,132116,65,1365.0,132108,65,...,222,143.0,131600,162,134.0,131619,173,181.0,132155,182
29,"$135,000 to $139,999",1426.0,137111,65,1189.0,137147,72,1169.0,137152,74,...,261,118.0,136889,225,108.0,136957,236,125.0,137227,213
30,"$140,000 to $144,999",1414.0,142097,65,1178.0,142084,69,1164.0,142075,70,...,208,103.0,142025,213,99.0,141982,218,146.0,142303,160
31,"$145,000 to $149,999",1316.0,147295,60,1128.0,147288,66,1107.0,147299,67,...,192,78.0,147258,216,69.0,(B),(B),125.0,147176,180
32,"$150,000 to $154,999",1492.0,151940,58,1203.0,151983,68,1193.0,151992,68,...,211,149.0,151674,209,143.0,151716,215,137.0,151915,197
33,"$155,000 to $159,999",978.0,157119,73,822.0,157132,80,810.0,157115,80,...,(B),71.0,(B),(B),71.0,(B),(B),97.0,156926,220
34,"$160,000 to $164,999",1161.0,162187,68,977.0,162203,72,963.0,162206,72,...,345,87.0,162091,236,87.0,162091,236,117.0,161919,210
35,"$165,000 to $169,999",970.0,167217,70,812.0,167221,77,806.0,167219,77,...,221,67.0,(B),(B),64.0,(B),(B),93.0,167347,238
36,"$170,000 to $174,999",905.0,172208,78,765.0,172246,86,748.0,172253,89,...,(B),74.0,(B),(B),73.0,(B),(B),85.0,171803,167
37,"$175,000 to $179,999",835.0,177152,93,685.0,177110,100,680.0,177111,100,...,286,61.0,(B),(B),59.0,(B),(B),74.0,(B),(B)
38,"$180,000 to $184,999",772.0,182179,94,650.0,182186,100,639.0,182190,101,...,(B),65.0,(B),(B),60.0,(B),(B),56.0,(B),(B)
39,"$185,000 to $189,999",686.0,187010,86,570.0,186981,98,560.0,186981,99,...,(B),67.0,(B),(B),63.0,(B),(B),71.0,(B),(B)
40,"$190,000 to $194,999",584.0,192119,86,480.0,192184,102,465.0,192188,104,...,(B),53.0,(B),(B),47.0,(B),(B),40.0,(B),(B)
41,"$195,000 to $199,999",565.0,197200,93,473.0,197192,104,471.0,197200,105,...,(B),47.0,(B),(B),47.0,(B),(B),35.0,(B),(B)
42,"$200,000 to $249,999",4572.0,221600,346,3787.0,221809,372,3719.0,221827,373,...,1335,482.0,221793,978,449.0,222050,1002,355.0,219917,1108
43,"$250,000 and over",6375.0,417948,5391,5415.0,421184,5924,5356.0,420504,5976,...,20356,721.0,403085,12565,693.0,404371,12961,405.0,452246,22112
44,For more information on the updated processing...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
income_data.iloc[1:-1]

,Household Income,Number,Mean Income,Unnamed: 3,Number.1,Mean Income.1,Unnamed: 6,Number.2,Mean Income.2,Unnamed: 9,...,Unnamed: 18,Number.6,Mean Income.6,Unnamed: 21,Number.7,Mean Income.7,Unnamed: 24,Number.8,Mean Income.8,Unnamed: 27
1,....Total,128579.0,90021,546,102505.0,93687,623,100528.0,93948,628,...,818,7416.0,118912,2145,6981.0,119816,2261,17758.0,70945,984
2,"Under $5,000",4283.0,1073,45,2729.0,1107,60,2663.0,1099,61,...,76,299.0,876,131,281.0,861,139,604.0,1158,104
3,"$5,000 to $9,999",3337.0,8017,39,2286.0,7955,52,2236.0,7933,52,...,67,110.0,7728,185,107.0,7691,186,567.0,7950,77
4,"$10,000 to $14,999",5510.0,12357,29,3927.0,12428,35,3821.0,12427,36,...,60,204.0,12225,153,197.0,12185,153,846.0,12206,71
5,"$15,000 to $19,999",5772.0,17312,33,4273.0,17313,39,4173.0,17313,39,...,68,219.0,17386,160,203.0,17317,155,918.0,17114,69
6,"$20,000 to $24,999",5672.0,22246,34,4352.0,22247,40,4244.0,22252,40,...,74,245.0,21924,141,226.0,21927,150,1039.0,21965,67
7,"$25,000 to $29,999",5469.0,27116,34,4231.0,27172,39,4132.0,27179,40,...,73,231.0,26958,167,214.0,26929,175,948.0,26767,70
8,"$30,000 to $34,999",5822.0,32041,32,4460.0,32072,36,4367.0,32076,37,...,74,215.0,31771,151,207.0,31762,155,966.0,31795,66
9,"$35,000 to $39,999",5404.0,37067,30,4259.0,37092,35,4178.0,37099,35,...,76,200.0,36913,152,192.0,36914,158,990.0,36864,67
10,"$40,000 to $44,999",5195.0,42026,34,4038.0,42046,39,3949.0,42042,39,...,90,262.0,41764,140,244.0,41781,141,876.0,41694,67
11,"$45,000 to $49,999",4839.0,47066,32,3927.0,47080,36,3830.0,47073,36,...,87,182.0,46994,166,161.0,46982,175,801.0,46985,71
12,"$50,000 to $54,999",5300.0,51841,35,4169.0,51822,41,4102.0,51818,41,...,86,239.0,51879,163,231.0,51865,166,858.0,51716,72
13,"$55,000 to $59,999",4417.0,57117,38,3612.0,57124,42,3546.0,57134,43,...,100,210.0,56886,156,198.0,56861,164,678.0,56973,84
14,"$60,000 to $64,999",4604.0,61990,35,3715.0,62007,39,3627.0,62005,39,...,89,241.0,61960,148,229.0,61966,157,737.0,61850,86
15,"$65,000 to $69,999",3999.0,67178,39,3328.0,67197,44,3246.0,67202,45,...,95,179.0,67013,167,159.0,67031,181,527.0,67150,100
16,"$70,000 to $74,999",3795.0,72040,42,3127.0,72063,46,3083.0,72061,47,...,125,190.0,72034,153,173.0,72025,161,546.0,71988,94
17,"$75,000 to $79,999",3950.0,77038,45,3246.0,77053,49,3180.0,77064,49,...,115,201.0,76952,171,191.0,76979,170,638.0,76871,81
18,"$80,000 to $84,999",3349.0,82006,43,2750.0,82038,45,2700.0,82048,46,...,142,199.0,81671,150,183.0,81739,162,478.0,81848,107
19,"$85,000 to $89,999",3064.0,87071,49,2527.0,87090,54,2485.0,87097,55,...,127,187.0,86924,151,174.0,86910,153,366.0,86793,111
20,"$90,000 to $94,999",3102.0,91964,44,2635.0,91959,49,2586.0,91969,49,...,142,171.0,91853,170,153.0,91929,181,410.0,91637,114
21,"$95,000 to $99,999",2581.0,97110,45,2199.0,97137,49,2162.0,97141,50,...,170,147.0,96916,180,138.0,96887,190,369.0,96952,119
22,"$100,000 to $104,999",2866.0,101902,47,2364.0,101972,51,2333.0,101968,51,...,130,214.0,101261,134,206.0,101232,137,284.0,101876,111
23,"$105,000 to $109,999",2449.0,107036,49,2040.0,107046,52,2016.0,107037,53,...,177,164.0,107014,181,156.0,106938,183,277.0,106856,122
24,"$110,000 to $114,999",2318.0,112045,41,1964.0,112078,46,1929.0,112079,47,...,139,122.0,111709,198,117.0,111693,204,242.0,112004,141
25,"$115,000 to $119,999",1971.0,117162,56,1656.0,117206,62,1621.0,117205,63,...,149,131.0,116751,189,125.0,116803,195,233.0,117126,140
26,"$120,000 to $124,999",2004.0,121949,52,1653.0,121955,55,1626.0,121956,55,...,204,148.0,121388,159,135.0,121417,159,240.0,121943,151
27,"$125,000 to $129,999",1780.0,127112,52,1515.0,127144,53,1477.0,127150,55,...,165,120.0,126834,209,113.0,126866,219,179.0,127017,163
28,"$130,000 to $134,999",1678.0,132082,59,1391.0,132116,65,1365.0,132108,65,...,222,143.0,131600,162,134.0,131619,173,181.0,132155,182
29,"$135,000 to $139,999",1426.0,137111,65,1189.0,137147,72,1169.0,137152,74,...,261,118.0,136889,225,108.0,136957,236,125.0,137227,213
30,"$140,000 to $144,999",1414.0,142097,65,1178.0,142084,69,1164.0,142075,70,...,208,103.0,142025,213,99.0,141982,218,146.0,142303,160
31,"$145,000 to $149,999",1316.0,147295,60,1128.0,147288,66,1107.0,147299,67,...,192,78.0,147258,216,69.0,(B),(B),125.0,147176,180
32,"$150,000 to $154,999",1492.0,151940,58,1203.0,151983,68,1193.0,151992,68,...,211,149.0,151674,209,143.0,151716,215,137.0,151915,197
33,"$155,000 to $159,999",978.0,157119,73,822.0,157132,80,810.0,157115,80,...,(B),71.0,(B),(B),71.0,(B),(B),97.0,156926,220
34,"$160,000 to $164,999",1161.0,162187,68,977.0,162203,72,963.0,162206,72,...,345,87.0,162091,236,87.0,162091,236,117.0,161919,210
35,"$165,000 to $169,999",970.0,167217,70,812.0,167221,77,806.0,167219,77,...,221,67.0,(B),(B),64.0,(B),(B),93.0,167347,238
36,"$170,000 to $174,999",905.0,172208,78,765.0,172246,86,748.0,172253,89,...,(B),74.0,(B),(B),73.0,(B),(B),85.0,171803,167
37,"$175,000 to $179,999",835.0,177152,93,685.0,177110,100,680.0,177111,100,...,286,61.0,(B),(B),59.0,(B),(B),74.0,(B),(B)
38,"$180,000 to $184,999",772.0,182179,94,650.0,182186,100,639.0,182190,101,...,(B),65.0,(B),(B),60.0,(B),(B),56.0,(B),(B)
39,"$185,000 to $189,999",686.0,187010,86,570.0,186981,98,560.0,186981,99,...,(B),67.0,(B),(B),63.0,(B),(B),71.0,(B),(B)
40,"$190,000 to $194,999",584.0,192119,86,480.0,192184,102,465.0,192188,104,...,(B),53.0,(B),(B),47.0,(B),(B),40.0,(B),(B)
41,"$195,000 to $199,999",565.0,197200,93,473.0,197192,104,471.0,197200,105,...,(B),47.0,(B),(B),47.0,(B),(B),35.0,(B),(B)
42,"$200,000 to $249,999",4572.0,221600,346,3787.0,221809,372,3719.0,221827,373,...,1335,482.0,221793,978,449.0,222050,1002,355.0,219917,1108
43,"$250,000 and over",6375.0,417948,5391,5415.0,421184,5924,5356.0,420504,5976,...,20356,721.0,403085,12565,693.0,404371,12961,405.0,452246,22112

In [5]:
income = income_data["Number"][1:-1].div(1000)
income.iloc[0] = 0
income.head()

1    0.000
2    4.283
3    3.337
4    5.510
5    5.772
Name: Number, dtype: float64

In [6]:
income_data[["Household Income"]]

                                     Household Income
0                                 Income of Household
1                                           ....Total
2                                        Under $5,000
3                                   $5,000 to  $9,999
4                                  $10,000 to $14,999
5                                  $15,000 to $19,999
6                                  $20,000 to $24,999
7                                  $25,000 to $29,999
8                                  $30,000 to $34,999
9                                  $35,000 to $39,999
10                                 $40,000 to $44,999
11                                 $45,000 to $49,999
12                                 $50,000 to $54,999
13                                 $55,000 to $59,999
14                                 $60,000 to $64,999
15                                 $65,000 to $69,999
16                                 $70,000 to $74,999
17                                 $75,000 to $79,999
18                                 $80,000 to $84,999
19                                 $85,000 to $89,999
20                                 $90,000 to $94,999
21                                 $95,000 to $99,999
22                               $100,000 to $104,999
23                               $105,000 to $109,999
24                               $110,000 to $114,999
25                               $115,000 to $119,999
26                               $120,000 to $124,999
27                               $125,000 to $129,999
28                               $130,000 to $134,999
29                               $135,000 to $139,999
30                               $140,000 to $144,999
31                               $145,000 to $149,999
32                               $150,000 to $154,999
33                               $155,000 to $159,999
34                               $160,000 to $164,999
35                               $165,000 to $169,999
36                               $170,000 to $174,999
37                               $175,000 to $179,999
38                               $180,000 to $184,999
39                               $185,000 to $189,999
40                               $190,000 to $194,999
41                               $195,000 to $199,999
42                               $200,000 to $249,999
43                                  $250,000 and over
44  For more information on the updated processing...

In [7]:
income_levels = list(range(0, 201, 5))
income_levels.append(250)
income_levels = [str(val) + "k" for val in income_levels]
income_levels.append("250k+")
income_levels

['0k',
 '5k',
 '10k',
 '15k',
 '20k',
 '25k',
 '30k',
 '35k',
 '40k',
 '45k',
 '50k',
 '55k',
 '60k',
 '65k',
 '70k',
 '75k',
 '80k',
 '85k',
 '90k',
 '95k',
 '100k',
 '105k',
 '110k',
 '115k',
 '120k',
 '125k',
 '130k',
 '135k',
 '140k',
 '145k',
 '150k',
 '155k',
 '160k',
 '165k',
 '170k',
 '175k',
 '180k',
 '185k',
 '190k',
 '195k',
 '200k',
 '250k',
 '250k+']