Working with Lists

New Concepts	Description
Dynamic List	A dynamic list is encapsulated by brackets ([]). A list is mutable. Elements can be added to or deleted from a list on the fly.
List Concatenation	Two lists can be joined together in the same manner that strings are concatenated.
List Indexing	Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets – i.e., lst[0] calls the 0th element in the list.
In later chapters, we will combine lists with dictionaries to essential data structures. We will also work with more efficient and convenient data structures using the numpy and pandas libraries.

Below we make our first lists. One will be empty. Another will contain integers. Another will have floats. Another strings. Another will mix these:

In [1]:
empty_list = []
empty_list, type(empty_list)

([], list)

In [2]:
int_list = [1,2,3,4,5]
int_list, type(int_list)

([1, 2, 3, 4, 5], list)

In [3]:
float_list = [1.,2.,3.,4.,5.]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0, 5.0], list)

In [4]:
string_list = ["many words", "impoverished meaning"]
string_list, type(string_list)

(['many words', 'impoverished meaning'], list)

In [5]:
mixed_list = [1, 2.0, 'mix it up']
mixed_list, type(mixed_list)

([1, 2.0, 'mix it up'], list)

## Concatenating Lists

In [6]:
[1] + [2]

[1, 2]

In [7]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [8]:
## similar to concatenating strings
str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

## For Loops and Range

New Concepts	Description
Dynamic List	A dynamic list is encapsulated by brackets ([]). A list is mutable. Elements can be added to or deleted from a list on the fly.
List Concatenation	Two lists can be joined together in the same manner that strings are concatenated.
List Indexing	Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets – i.e., lst[0] calls the 0th element in the list.
In later chapters, we will combine lists with dictionaries to essential data structures. We will also work with more efficient and convenient data structures using the numpy and pandas libraries.

a for loop using in range will cycle through variable i from integer j to k - 1 by increments of 1
**for i in range (j,k,l)**

In [9]:
for i in range (1, 10 ** 2):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
total = 0
for i in range (1, 101):
    total = total + i 
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [11]:
total = 0 
for i in range(1,101,2):
    total = total + i
    print(i,total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [12]:
list1 = [538,342,6,435,543]
str1 = "jhti4k3h2u3i"

for val in list1:
    print(val)
    
for string in str1:
    print(string, string == "k")

538
342
6
435
543
j False
h False
t False
i False
4 False
k True
3 False
h False
2 False
u False
3 False
i False

In [13]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on Range Fuction

In [14]:
## Create a list by appending values to the list
list1 = []
for i in range (0,9,2):
    print(i)
    list1.append(i)

print(list1)

0
2
4
6
8
[0, 2, 4, 6, 8]

In [15]:
## Create a list by passing range (i,j,l)
## More efficient alternative to using append within a far loop
list2 = list(range(0,9,1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
## Using len() with Range

In [17]:
list2_len = len(list2)
print("i","val")
for i in range(list2_len):
    print(i, list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

### Nested for loop

In [18]:
print("i","list")

# Create a new list2 according to the inerval values called by the for loop
for interval in range(1,6):
    list2 = list(range(0,9, interval))
    print(interval,list2)
    list2_len = len(list2)
    print("length:", list2_len)
    print("j", "val")

    for j in range (list2_len):
        print(j, list2[j])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

## If Statements and Boolean Variables

In [19]:
# Boolean
print(True)
print(False)
print(True * False)
print(True * True)

True
False
0
1

In [20]:
boolean = True
if boolean: # if boolean = true
    print(boolean)
    
boolean2 = False
if boolean2 == False: #if boolean2 == True
    print(boolean2)
    print("if boolean2 is False, then you just printed this text. If not, then nothing happened")

True
False
if boolean2 is False, then you just printed this text. If not, then nothing happened

In [21]:
False == False

True

In [22]:
1 == True

True

In [23]:
# != is "not equal to"
1 != True

False

## Use a boolean variable to track the appearance of the word "ate"

In [24]:
words = ("The","dog","ate","the","snow", "and", "ate", "his", "dog", "food")
# does the word "ate" appear in the list? If so, where?
ate_index_list = []
num_words = len(words)
for i in range(num_words):
# save the string at index i as word
    word = words[i]
    is_ate = word == "ate"
    print(i, word)
    print("Is the word", word, "\"ate\"?:", is_ate)
# is_ate is a boolean variable that tells whether or not the current word is "ate"
    if is_ate:
        ate_index_list.append(i)
ate_index_list
# if the word is "ate", then add the index to the list so that we can have an easy to reference record of the indices
# where "ate" appears

0 The
Is the word The "ate"?: False
1 dog
Is the word dog "ate"?: False
2 ate
Is the word ate "ate"?: True
3 the
Is the word the "ate"?: False
4 snow
Is the word snow "ate"?: False
5 and
Is the word and "ate"?: False
6 ate
Is the word ate "ate"?: True
7 his
Is the word his "ate"?: False
8 dog
Is the word dog "ate"?: False
9 food
Is the word food "ate"?: False

[2, 6]

In [25]:
is_ate = word == "ate"
is_ate

False

# if, else, and elif

In [26]:
random_numbers = [1,6,23,765432,432,1,34,43,5,7,4,-1,-4,"8.5"]

# if the number is greater than 10
greater_than_10 = []
zero_to_10 = []
negative_numbers = []

for number in random_numbers:
    # catches strings that might be in your list
    if type(number) == str: number = float(number)
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    elif number >= 0:
        print(number, "in the domain of 0 and 10")
        zero_to_10.append(number)
    else:
        print(number, "is negative")
        negative_numbers.append(number)

1 in the domain of 0 and 10
6 in the domain of 0 and 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 in the domain of 0 and 10
34 is greater than 10
43 is greater than 10
5 in the domain of 0 and 10
7 in the domain of 0 and 10
4 in the domain of 0 and 10
-1 is negative
-4 is negative
8.5 in the domain of 0 and 10

In [27]:
not_greater_than_10

NameError: name 'not_greater_than_10' is not defined

In [ ]:
greater_than_10

In [ ]:
greater_than_10, zero_to_10, negative_numbers

In [ ]:
# use del to remove the ith element from list
del greater_than_10[1]
del zero_to_10[1]
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

In [ ]:
# passing -1 as a list index calls the last element in the list
# passing -1 when using del list(i) will delete the last element in the list
del greater_than_10[-1]
del zero_to_10[-1]
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

## Use lst.remove(val)

In [ ]:
# use lst.remove(val)
# if you remove a value that appears twice in a list, then the first appearance of that value will be removed

greater_than_10.remove (23)
zero_to_10.remove (1)
greater_than_10, zero_to_10

## Use list.pop

In [ ]:
last_val_in_list = greater_than_10.pop()
greater_than_10, last_val_in_list

## Sorting Lists

In [ ]:
# sorted(list) will sort a copy of list
num_list = [1,4,2,5,543,22]
num_list, sorted(num_list)

In [ ]:
string_list = ("A", "list", "of", "strings", "is", "in", "string_list")
string_list, sorted(string_list)

In [ ]:
#lst.sort will sort the original list object
num_list.sort()
num_list

In [ ]:
# sorting mixed lists will generate an error
# you cannot compare strings and numerical values
sorted(num_list + string_list)

## List Slices

In [ ]:
# a slice of a list takes a subset of values from a list
lst = [1,2,3,4,5,6,6,7]
# compare full list to sliced list
lst, lst[2:5]

In [ ]:
# count through the index by twos
lst, lst[0:-1:2]

In [ ]:
# implicit start and end index values
lst, lst[::2]

## Lists and Generator Functions

In [ ]:
## save a generator fuction without creating a list
generator = (i for i in range(20))
print(generator)

In [ ]:
list1 = list(generator)
list1

In [ ]:
list2 = [2 * i for i in range(20)]
list2