# Chapter 4: Functional Programming: Rudimentary Statistics and Analysis

New Concepts	Description
return obj (from function)	Functions may return an object to be saved if a variable is defined by the function i.e., var1 = function(obj1, obj2, . . .)

In [1]:
def function_name(object1, object2, ..., objectn):
    <operations>

SyntaxError: invalid syntax (1710453078.py, line 1)

## Total
\sum_{i=0}^{n-1} x_{i}

In [2]:
n = 0
total = 0
values = [i for i in range(10)]

print("total\t", "value")
for value in values:
    total += value
    print(total, "\t", value)
    
print("final total:", total)

total	 value
0 	 0
1 	 1
3 	 2
6 	 3
10 	 4
15 	 5
21 	 6
28 	 7
36 	 8
45 	 9
final total: 45

In [3]:
# Bad Practice to copy and paste old code
total = 0
values = [i for i in range(0,1000,2)]
print("total\t", "value")
for value in values:
    total += value
    print(total, "\t", value)

total	 value
0 	 0
2 	 2
6 	 4
12 	 6
20 	 8
30 	 10
42 	 12
56 	 14
72 	 16
90 	 18
110 	 20
132 	 22
156 	 24
182 	 26
210 	 28
240 	 30
272 	 32
306 	 34
342 	 36
380 	 38
420 	 40
462 	 42
506 	 44
552 	 46
600 	 48
650 	 50
702 	 52
756 	 54
812 	 56
870 	 58
930 	 60
992 	 62
1056 	 64
1122 	 66
1190 	 68
1260 	 70
1332 	 72
1406 	 74
1482 	 76
1560 	 78
1640 	 80
1722 	 82
1806 	 84
1892 	 86
1980 	 88
2070 	 90
2162 	 92
2256 	 94
2352 	 96
2450 	 98
2550 	 100
2652 	 102
2756 	 104
2862 	 106
2970 	 108
3080 	 110
3192 	 112
3306 	 114
3422 	 116
3540 	 118
3660 	 120
3782 	 122
3906 	 124
4032 	 126
4160 	 128
4290 	 130
4422 	 132
4556 	 134
4692 	 136
4830 	 138
4970 	 140
5112 	 142
5256 	 144
5402 	 146
5550 	 148
5700 	 150
5852 	 152
6006 	 154
6162 	 156
6320 	 158
6480 	 160
6642 	 162
6806 	 164
6972 	 166
7140 	 168
7310 	 170
7482 	 172
7656 	 174
7832 	 176
8010 	 178
8190 	 180
8372 	 182
8556 	 184
8742 	 186
8930 	 188
9120 	 190
9312 	 192
9506 	 194
9702 	 196
9900 	 198
10100 	 200
10302 	 202
10506 	 204
10712 	 206
10920 	 208
11130 	 210
11342 	 212
11556 	 214
11772 	 216
11990 	 218
12210 	 220
12432 	 222
12656 	 224
12882 	 226
13110 	 228
13340 	 230
13572 	 232
13806 	 234
14042 	 236
14280 	 238
14520 	 240
14762 	 242
15006 	 244
15252 	 246
15500 	 248
15750 	 250
16002 	 252
16256 	 254
16512 	 256
16770 	 258
17030 	 260
17292 	 262
17556 	 264
17822 	 266
18090 	 268
18360 	 270
18632 	 272
18906 	 274
19182 	 276
19460 	 278
19740 	 280
20022 	 282
20306 	 284
20592 	 286
20880 	 288
21170 	 290
21462 	 292
21756 	 294
22052 	 296
22350 	 298
22650 	 300
22952 	 302
23256 	 304
23562 	 306
23870 	 308
24180 	 310
24492 	 312
24806 	 314
25122 	 316
25440 	 318
25760 	 320
26082 	 322
26406 	 324
26732 	 326
27060 	 328
27390 	 330
27722 	 332
28056 	 334
28392 	 336
28730 	 338
29070 	 340
29412 	 342
29756 	 344
30102 	 346
30450 	 348
30800 	 350
31152 	 352
31506 	 354
31862 	 356
32220 	 358
32580 	 360
32942 	 362
33306 	 364
33672 	 366
34040 	 368
34410 	 370
34782 	 372
35156 	 374
35532 	 376
35910 	 378
36290 	 380
36672 	 382
37056 	 384
37442 	 386
37830 	 388
38220 	 390
38612 	 392
39006 	 394
39402 	 396
39800 	 398
40200 	 400
40602 	 402
41006 	 404
41412 	 406
41820 	 408
42230 	 410
42642 	 412
43056 	 414
43472 	 416
43890 	 418
44310 	 420
44732 	 422
45156 	 424
45582 	 426
46010 	 428
46440 	 430
46872 	 432
47306 	 434
47742 	 436
48180 	 438
48620 	 440
49062 	 442
49506 	 444
49952 	 446
50400 	 448
50850 	 450
51302 	 452
51756 	 454
52212 	 456
52670 	 458
53130 	 460
53592 	 462
54056 	 464
54522 	 466
54990 	 468
55460 	 470
55932 	 472
56406 	 474
56882 	 476
57360 	 478
57840 	 480
58322 	 482
58806 	 484
59292 	 486
59780 	 488
60270 	 490
60762 	 492
61256 	 494
61752 	 496
62250 	 498
62750 	 500
63252 	 502
63756 	 504
64262 	 506
64770 	 508
65280 	 510
65792 	 512
66306 	 514
66822 	 516
67340 	 518
67860 	 520
68382 	 522
68906 	 524
69432 	 526
69960 	 528
70490 	 530
71022 	 532
71556 	 534
72092 	 536
72630 	 538
73170 	 540
73712 	 542
74256 	 544
74802 	 546
75350 	 548
75900 	 550
76452 	 552
77006 	 554
77562 	 556
78120 	 558
78680 	 560
79242 	 562
79806 	 564
80372 	 566
80940 	 568
81510 	 570
82082 	 572
82656 	 574
83232 	 576
83810 	 578
84390 	 580
84972 	 582
85556 	 584
86142 	 586
86730 	 588
87320 	 590
87912 	 592
88506 	 594
89102 	 596
89700 	 598
90300 	 600
90902 	 602
91506 	 604
92112 	 606
92720 	 608
93330 	 610
93942 	 612
94556 	 614
95172 	 616
95790 	 618
96410 	 620
97032 	 622
97656 	 624
98282 	 626
98910 	 628
99540 	 630
100172 	 632
100806 	 634
101442 	 636
102080 	 638
102720 	 640
103362 	 642
104006 	 644
104652 	 646
105300 	 648
105950 	 650
106602 	 652
107256 	 654
107912 	 656
108570 	 658
109230 	 660
109892 	 662
110556 	 664
111222 	 666
111890 	 668
112560 	 670
113232 	 672
113906 	 674
114582 	 676
115260 	 678
115940 	 680
116622 	 682
117306 	 684
117992 	 686
118680 	 688
119370 	 690
120062 	 692
120756 	 694
121452 	 696
122150 	 698
122850 	 700
123552 	 702
124256 	 704
124962 	 706
125670 	 708
126380 	 710
127092 	 712
127806 	 714
128522 	 716
129240 	 718
129960 	 720
130682 	 722
131406 	 724
132132 	 726
132860 	 728
133590 	 730
134322 	 732
135056 	 734
135792 	 736
136530 	 738
137270 	 740
138012 	 742
138756 	 744
139502 	 746
140250 	 748
141000 	 750
141752 	 752
142506 	 754
143262 	 756
144020 	 758
144780 	 760
145542 	 762
146306 	 764
147072 	 766
147840 	 768
148610 	 770
149382 	 772
150156 	 774
150932 	 776
151710 	 778
152490 	 780
153272 	 782
154056 	 784
154842 	 786
155630 	 788
156420 	 790
157212 	 792
158006 	 794
158802 	 796
159600 	 798
160400 	 800
161202 	 802
162006 	 804
162812 	 806
163620 	 808
164430 	 810
165242 	 812
166056 	 814
166872 	 816
167690 	 818
168510 	 820
169332 	 822
170156 	 824
170982 	 826
171810 	 828
172640 	 830
173472 	 832
174306 	 834
175142 	 836
175980 	 838
176820 	 840
177662 	 842
178506 	 844
179352 	 846
180200 	 848
181050 	 850
181902 	 852
182756 	 854
183612 	 856
184470 	 858
185330 	 860
186192 	 862
187056 	 864
187922 	 866
188790 	 868
189660 	 870
190532 	 872
191406 	 874
192282 	 876
193160 	 878
194040 	 880
194922 	 882
195806 	 884
196692 	 886
197580 	 888
198470 	 890
199362 	 892
200256 	 894
201152 	 896
202050 	 898
202950 	 900
203852 	 902
204756 	 904
205662 	 906
206570 	 908
207480 	 910
208392 	 912
209306 	 914
210222 	 916
211140 	 918
212060 	 920
212982 	 922
213906 	 924
214832 	 926
215760 	 928
216690 	 930
217622 	 932
218556 	 934
219492 	 936
220430 	 938
221370 	 940
222312 	 942
223256 	 944
224202 	 946
225150 	 948
226100 	 950
227052 	 952
228006 	 954
228962 	 956
229920 	 958
230880 	 960
231842 	 962
232806 	 964
233772 	 966
234740 	 968
235710 	 970
236682 	 972
237656 	 974
238632 	 976
239610 	 978
240590 	 980
241572 	 982
242556 	 984
243542 	 986
244530 	 988
245520 	 990
246512 	 992
247506 	 994
248502 	 996
249500 	 998

In [4]:
def total(list):
    total_ = 0
    # in original he used the index of the list 
    # n = len(list)
    # for i in range(n)
    for val in list:
        total_ += val
    return total_
total(values)

249500

In [5]:
total([i for i in range(-1000, 10000, 53)])

932984

In [6]:
import random
X1 = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
X2 = [random.randint(0,100) for i in range(10)]
total(X1), total(X2)

(165, 574)

### Mean

Let X1, X2, ..., Xn represent n values from a random variable. For a given dataset, useful descriptive statistics of central tendency include mean, median, and mode, which we built as functions in a previous chapter.
We define the mean of a set of numbers:
    <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow data-mjx-texclass="ORD">
    <mover>
      <mi>X</mi>
      <mo stretchy="false">&#xAF;</mo>
    </mover>
  </mrow>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mrow data-mjx-texclass="ORD">
          <mi>n</mi>
          <mo>&#x2212;</mo>
          <mn>1</mn>
        </mrow>
      </munderover>
      <msub>
        <mi>X</mi>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
        </mrow>
      </msub>
    </mrow>
    <mi>n</mi>
  </mfrac>
</math>

In [7]:
def mean(list):
    n = len(list)
    mean_ = total(list) / n
    return mean_
mean(X1), mean(X2)

(16.5, 57.4)

Now lets build the rest of the summary statistical fuctions

1. median
2. mode
3. variance
4. standard variation
5. standard error
6. covariance
7. correlation

### Median

In [8]:
def median(list):
    n = len(list)
    list = sorted(list)
    
    
    ## two cases: 
    ## lists of odds lengths
    ## i % j checks for remainder after dividing i by j
    if n % 2!= 0:
        middle_index = int((n - 1) / 2)
        median_ = list[middle_index]
    
    ## list of even lengths
    else:
        upper_middle_index = int(n / 2)
        lower_middle_index = upper_middle_index - 1
        # pass slice with two middle values to mean()
        median_ = mean(list[lower_middle_index: upper_middle_index + 1])
    return median_

print(X1)
median(X1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

16.5

In [9]:
# this shows what would happen with an odd list
median(X1[:-1])

15

In [10]:
sorted(X2)

[15, 31, 36, 50, 51, 60, 68, 69, 96, 98]

### Mode

In [11]:
def mode(list):
    count_dct = {}
# create entries with 0
    for key in list:
        count_dct[key] = 0
# add up each occurance
    for key in list:
        count_dct[key] += 1
# calculate max count up front
    max_count = max(count_dct.values())
    mode_ = []
# now we can compare each count to the max count
    for key, count in count_dct.items():
        if count == max_count:
            mode_.append(key)
            
    
    return mode_


list = [1,1,1,1,1,2,3,4,5,5,5,5,5,1000,1000]
mode(list)

[1, 5]

## Variance

<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <msup>
    <mi>&#x3C3;</mi>
    <mn>2</mn>
  </msup>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>n</mi>
      </munderover>
      <mo stretchy="false">(</mo>
      <msub>
        <mi>X</mi>
        <mi>i</mi>
      </msub>
      <mo>&#x2212;</mo>
      <mrow data-mjx-texclass="ORD">
        <mover>
          <mi>X</mi>
          <mo stretchy="false">&#xAF;</mo>
        </mover>
      </mrow>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
    </mrow>
    <mi>n</mi>
  </mfrac>
</math>

When we are dealing with a sample, which is a subset of a population of observations, then we divide by 
nâˆ’1, the Degrees of Freedom, to unbias the calculation.

<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <mi>D</mi>
  <mi>o</mi>
  <mi>F</mi>
  <mo>=</mo>
  <mi>n</mi>
  <mo>&#x2212;</mo>
  <mn>1</mn>
</math>



<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <msup>
    <mi>S</mi>
    <mn>2</mn>
  </msup>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>n</mi>
      </munderover>
      <mo stretchy="false">(</mo>
      <msub>
        <mi>X</mi>
        <mi>i</mi>
      </msub>
      <mo>&#x2212;</mo>
      <mrow data-mjx-texclass="ORD">
        <mover>
          <mi>X</mi>
          <mo stretchy="false">&#xAF;</mo>
        </mover>
      </mrow>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
    </mrow>
    <mrow>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>1</mn>
    </mrow>
  </mfrac>
</math>

In [12]:
def variance(list, sample = True):
    list_mean = mean(list)
    n = len(list)
    DoF = n - 1
    sum_sq_diff = 0
    
    for val in list:
        diff = val - list_mean
        sum_sq_diff += (diff) ** 2
        ## print(val, list_mean, diff ** 2, sum_sq_diff)
    if sample == False:
        variance_ = sum_sq_diff / n
    else:
        variance_ = sum_sq_diff / DoF
    return variance_

variance(X1, sample = True), variance(X1, sample = False)

(82.5, 74.25)

In [13]:
variance(X2, sample = True), variance(X2, sample = False)

(715.6, 644.0400000000001)

In [14]:
def SD(list, sample = True):
    SD_ = variance(list, sample) ** (1/2)
    return SD_
SD(X1, sample = True), SD(X1, sample = False)

(9.082951062292475, 8.616843969807043)

In [15]:
SD(X2, sample = True), SD(X2, sample = False)

(26.75070092539633, 25.377943179067923)

### Standard Error

In [16]:
def STE(list, sample = True):
    n = len(list)
    se = SD(list, sample) / n ** (1/2)
    
    return se

In [17]:
SD(X1, sample = True), STE(X1, sample = True)

(9.082951062292475, 2.872281323269014)

In [18]:
SD(X2, sample = True), STE(X2, sample = True)

(26.75070092539633, 8.459314393022641)

### Covariance

In [19]:
def covariance(list1, list2, sample = True):
    mean1 = mean(list1)
    mean2 = mean(list2)
    
    cov = 0
    n1 = len(list1)
    n2 = len(list2)
    if n1 == n2:
        n = n1
        # sum the product of the differences
        for i in range(n):
            cov += (list1[i] - mean1) * (list2[i] - mean2)
        if sample == False:
            cov = cov / n
        else:
            cov = cov / (n - 1)
    else:
        print("List Lengths are not equal")
        print("List 1", n1)
        print("List 2", n2)
    
    return cov
covariance(X1, X2, sample = True)

-81.66666666666669

In [20]:
covariance(X1[:-1], X2)

List Lengths are not equal
List 1 9
List 2 10

0

<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>c</mi>
  <mi>o</mi>
  <mi>r</mi>
  <mi>r</mi>
  <mo stretchy="false">(</mo>
  <mi>x</mi>
  <mo>,</mo>
  <mi>y</mi>
  <mo stretchy="false">)</mo>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <mi>c</mi>
      <mi>o</mi>
      <mi>v</mi>
      <mo stretchy="false">(</mo>
      <mi>x</mi>
      <mo>,</mo>
      <mi>y</mi>
      <mo stretchy="false">)</mo>
    </mrow>
    <mrow>
      <msub>
        <mi>&#x3C3;</mi>
        <mi>x</mi>
      </msub>
      <msub>
        <mi>&#x3C3;</mi>
        <mi>y</mi>
      </msub>
    </mrow>
  </mfrac>
</math>

In [21]:
def correlation(list1, list2):
    cov = covariance(list1, list2)
    SD1 = SD(list1)
    SD2 = SD(list2)
    corr = cov / (SD1 * SD2)
    
    return corr
correlation(X1, X2)

-0.3361109717065131

In [22]:
X3 = [x * -0.5 for x in X1]
correlation(X1, X3)

-1.0

In [23]:
print(X1, X2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30] [96, 98, 15, 31, 69, 51, 68, 50, 36, 60]

<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>s</mi>
  <mi>k</mi>
  <mi>e</mi>
  <msub>
    <mi>w</mi>
    <mrow data-mjx-texclass="ORD">
      <mi>p</mi>
      <mi>o</mi>
      <mi>p</mi>
    </mrow>
  </msub>
  <mo stretchy="false">(</mo>
  <mi>x</mi>
  <mo>,</mo>
  <mi>y</mi>
  <mo stretchy="false">)</mo>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mrow data-mjx-texclass="ORD">
          <mi>n</mi>
          <mo>&#x2212;</mo>
          <mn>1</mn>
        </mrow>
      </munderover>
      <mrow data-mjx-texclass="ORD">
        <mo stretchy="false">(</mo>
        <msub>
          <mi>x</mi>
          <mrow data-mjx-texclass="ORD">
            <mi>i</mi>
          </mrow>
        </msub>
        <mo>&#x2212;</mo>
        <msub>
          <mi>x</mi>
          <mrow data-mjx-texclass="ORD">
            <mi>m</mi>
            <mi>e</mi>
            <mi>a</mi>
            <mi>n</mi>
          </mrow>
        </msub>
        <msup>
          <mo stretchy="false">)</mo>
          <mn>3</mn>
        </msup>
      </mrow>
    </mrow>
    <mrow>
      <mi>n</mi>
      <msup>
        <mi>&#x3C3;</mi>
        <mn>3</mn>
      </msup>
    </mrow>
  </mfrac>
</math>


.



<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>s</mi>
  <mi>k</mi>
  <mi>e</mi>
  <msub>
    <mi>w</mi>
    <mrow data-mjx-texclass="ORD">
      <mi>s</mi>
      <mi>a</mi>
      <mi>m</mi>
      <mi>p</mi>
      <mi>l</mi>
      <mi>e</mi>
    </mrow>
  </msub>
  <mo stretchy="false">(</mo>
  <mi>x</mi>
  <mo>,</mo>
  <mi>y</mi>
  <mo stretchy="false">)</mo>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mrow data-mjx-texclass="ORD">
          <mi>n</mi>
          <mo>&#x2212;</mo>
          <mn>1</mn>
        </mrow>
      </munderover>
      <mrow data-mjx-texclass="ORD">
        <mo stretchy="false">(</mo>
        <msub>
          <mi>x</mi>
          <mrow data-mjx-texclass="ORD">
            <mi>i</mi>
          </mrow>
        </msub>
        <mo>&#x2212;</mo>
        <msub>
          <mi>x</mi>
          <mrow data-mjx-texclass="ORD">
            <mi>m</mi>
            <mi>e</mi>
            <mi>a</mi>
            <mi>n</mi>
          </mrow>
        </msub>
        <msup>
          <mo stretchy="false">)</mo>
          <mn>3</mn>
        </msup>
      </mrow>
    </mrow>
    <mrow>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>1</mn>
      <mo stretchy="false">)</mo>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>2</mn>
      <mo stretchy="false">)</mo>
      <msup>
        <mi>&#x3C3;</mi>
        <mn>3</mn>
      </msup>
    </mrow>
  </mfrac>
</math>

In [24]:
def skewness(list, sample = True):
    mean_ = mean(list)
    SD_ = SD(list, sample)
    skew = 0
    n = len(list)
    for val in list:
        skew += (val - mean_) ** 3
    skew = skew / (n * SD_ ** 3) if not sample else\
        n * skew / ((n - 1) / (n - 2) * SD_ ** 3)
    return skew

skewness(X1)

0.0

In [25]:
skewness(X2)

10.268033782263347

<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>k</mi>
  <mi>u</mi>
  <mi>r</mi>
  <msub>
    <mi>t</mi>
    <mrow data-mjx-texclass="ORD">
      <mi>p</mi>
      <mi>o</mi>
      <mi>p</mi>
    </mrow>
  </msub>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mrow data-mjx-texclass="ORD">
          <mi>n</mi>
          <mo>&#x2212;</mo>
          <mn>1</mn>
        </mrow>
      </munderover>
      <mo stretchy="false">(</mo>
      <msub>
        <mi>x</mi>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
        </mrow>
      </msub>
      <mo>&#x2212;</mo>
      <msub>
        <mi>x</mi>
        <mrow data-mjx-texclass="ORD">
          <mi>m</mi>
          <mi>e</mi>
          <mi>a</mi>
          <mi>n</mi>
        </mrow>
      </msub>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>4</mn>
      </msup>
    </mrow>
    <mrow>
      <mi>n</mi>
      <msup>
        <mi>&#x3C3;</mi>
        <mn>4</mn>
      </msup>
    </mrow>
  </mfrac>
</math>



.



<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>k</mi>
  <mi>u</mi>
  <mi>r</mi>
  <msub>
    <mi>t</mi>
    <mrow data-mjx-texclass="ORD">
      <mi>s</mi>
      <mi>a</mi>
      <mi>m</mi>
      <mi>p</mi>
      <mi>l</mi>
      <mi>e</mi>
    </mrow>
  </msub>
  <mo>=</mo>
  <mfrac>
    <mrow>
      <mi>n</mi>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>+</mo>
      <mn>1</mn>
      <mo stretchy="false">)</mo>
      <munderover>
        <mo data-mjx-texclass="OP">&#x2211;</mo>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mrow data-mjx-texclass="ORD">
          <mi>n</mi>
          <mo>&#x2212;</mo>
          <mn>1</mn>
        </mrow>
      </munderover>
      <mo stretchy="false">(</mo>
      <msub>
        <mi>x</mi>
        <mrow data-mjx-texclass="ORD">
          <mi>i</mi>
        </mrow>
      </msub>
      <mo>&#x2212;</mo>
      <msub>
        <mi>x</mi>
        <mrow data-mjx-texclass="ORD">
          <mi>m</mi>
          <mi>e</mi>
          <mi>a</mi>
          <mi>n</mi>
        </mrow>
      </msub>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>4</mn>
      </msup>
    </mrow>
    <mrow>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>1</mn>
      <mo stretchy="false">)</mo>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>2</mn>
      <mo stretchy="false">)</mo>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>3</mn>
      <mo stretchy="false">)</mo>
      <msup>
        <mi>&#x3C3;</mi>
        <mn>4</mn>
      </msup>
    </mrow>
  </mfrac>
  <mo>&#x2212;</mo>
  <mfrac>
    <mrow>
      <mn>3</mn>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>1</mn>
      <msup>
        <mo stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
    </mrow>
    <mrow>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>2</mn>
      <mo stretchy="false">)</mo>
      <mo stretchy="false">(</mo>
      <mi>n</mi>
      <mo>&#x2212;</mo>
      <mn>3</mn>
      <mo stretchy="false">)</mo>
    </mrow>
  </mfrac>
</math>

In [26]:
def kurtosis(list, sample = True):
    mean_ = mean(list)
    kurt = 0 
    SD_ = SD(list, sample)
    n = len(list)
    for val in list:
        kurt += (val - mean_) ** 4
    kurt = kurt / (n * SD_ ** 4) if sample == False else n * (n + 1) * kurt / \
        ((n - 1) * (n - 2) * (n - 3) * (SD_ ** 4) - (3 *(n - 1) ** 2))
    
    return kurt

kurtosis(X1, sample = False)

1.7757575757575759

In [27]:
kurtosis(X2, sample = False)

2.1456639576979977

### Gather Statistics

In [28]:
import pandas as pd
def gather_statistics(df, sample = False, round_dig = 2):
    dct = {key:{} for key in df}
    for key, val in df.items():
        val.dropna(inplace = True)
        dct[key]["mean"] = round(mean(val), round_dig)
        dct[key]["median"] = round(median(val), round_dig)
        dct[key]["variance"] = round(variance(val), round_dig)
        dct[key]["S.D."] = round(SD(val, sample), round_dig)
        dct[key]["skewness"] = round(skewness(val, sample), round_dig)
        dct[key]["kurtosis"] = round(kurtosis(val, sample), round_dig)
    stats_df = pd.DataFrame(dct)
    return(stats_df)
data = pd.DataFrame([X1,X2], index = ["List1", "List2"]).T
gather_statistics(data, sample = False, round_dig = 2)

          List1   List2
mean      16.50   57.40
median    16.50   55.50
variance  82.50  715.60
S.D.       8.62   25.38
skewness   0.00    0.14
kurtosis   1.78    2.15

## Fraser Economic Freedom of the World

In [29]:
filename = "fraser.xlsx"
data = pd.read_excel(filename, header = [4],
                    index_col = [3,1])
data

,,Unnamed: 0,ISO Code 2,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government Consumption,data,1B Transfers and subsidies,data.1,...,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110
ISO Code 3,Year,,,,,,,,,,,,,,,,,,,,,
ALB,2020,NaN,AL,Albania,7.64,26.0,1.0,8.026471,12.710000,6.978202,11.590000,...,2011.00,2012.00,2013.00,2014.00,2015.00,2016.0,2017.0,2018.0,2019.00,2020.00
DZA,2020,NaN,DZ,Algeria,5.12,157.0,4.0,3.102941,29.450000,7.817129,8.511137,...,153.00,153.00,157.00,159.00,159.00,162.0,162.0,162.0,165.00,165.00
AGO,2020,NaN,AO,Angola,5.91,138.0,4.0,7.700000,13.820000,9.702997,1.590000,...,38.25,38.25,39.25,39.75,39.75,40.5,40.5,40.5,41.25,41.25
ARG,2020,NaN,AR,Argentina,4.87,161.0,4.0,5.985294,19.650000,6.493188,13.370000,...,114.75,114.75,117.75,119.25,119.25,121.5,121.5,121.5,123.75,123.75
ARM,2020,NaN,AM,Armenia,7.84,11.0,1.0,6.605882,17.540000,7.223433,10.690000,...,76.50,76.50,78.50,79.50,79.50,81.0,81.0,81.0,82.50,82.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,1970,NaN,VE,"Venezuela, RB",7.19,13.0,1.0,6.602003,17.553191,9.827430,1.133333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VNM,1970,NaN,VN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,YE,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,NaN,ZM,Zambia,5.33,54.0,3.0,3.448131,28.276353,9.105430,3.783070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,1970,NaN,ZW,Zimbabwe,NaN,NaN,NaN,7.806922,13.456464,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
file = pd.ExcelFile(filename)
file.sheet_names  #see the sheet names

for sheet_name in file.sheet_names:
    print(sheet_name)
    print(pd.read_excel(filename, header = [4],
                        index_col = [3,1],
                        sheet_name = sheet_name))

EFW Data 2022 Report
                 Unnamed: 0 ISO Code 2      Countries  \
ISO Code 3 Year
ALB        2020         NaN         AL        Albania
DZA        2020         NaN         DZ        Algeria
AGO        2020         NaN         AO         Angola
ARG        2020         NaN         AR      Argentina
ARM        2020         NaN         AM        Armenia
...                     ...        ...            ...
VEN        1970         NaN         VE  Venezuela, RB
VNM        1970         NaN         VN        Vietnam
YEM        1970         NaN         YE    Yemen, Rep.
ZMB        1970         NaN         ZM         Zambia
ZWE        1970         NaN         ZW       Zimbabwe

                 Economic Freedom Summary Index   Rank  Quartile  \
ISO Code 3 Year
ALB        2020                            7.64   26.0       1.0
DZA        2020                            5.12  157.0       4.0
AGO        2020                            5.91  138.0       4.0
ARG        2020                            4.87  161.0       4.0
ARM        2020                            7.84   11.0       1.0
...                                         ...    ...       ...
VEN        1970                            7.19   13.0       1.0
VNM        1970                             NaN    NaN       NaN
YEM        1970                             NaN    NaN       NaN
ZMB        1970                            5.33   54.0       3.0
ZWE        1970                             NaN    NaN       NaN

                 1A Government Consumption       data  \
ISO Code 3 Year
ALB        2020                   8.026471  12.710000
DZA        2020                   3.102941  29.450000
AGO        2020                   7.700000  13.820000
ARG        2020                   5.985294  19.650000
ARM        2020                   6.605882  17.540000
...                                    ...        ...
VEN        1970                   6.602003  17.553191
VNM        1970                        NaN        NaN
YEM        1970                        NaN        NaN
ZMB        1970                   3.448131  28.276353
ZWE        1970                   7.806922  13.456464

                 1B  Transfers and subsidies     data.1  ...  Unnamed: 101  \
ISO Code 3 Year                                          ...
ALB        2020                     6.978202  11.590000  ...       2011.00
DZA        2020                     7.817129   8.511137  ...        153.00
AGO        2020                     9.702997   1.590000  ...         38.25
ARG        2020                     6.493188  13.370000  ...        114.75
ARM        2020                     7.223433  10.690000  ...         76.50
...                                      ...        ...  ...           ...
VEN        1970                     9.827430   1.133333  ...           NaN
VNM        1970                          NaN        NaN  ...           NaN
YEM        1970                          NaN        NaN  ...           NaN
ZMB        1970                     9.105430   3.783070  ...           NaN
ZWE        1970                          NaN        NaN  ...           NaN

                 Unnamed: 102  Unnamed: 103 Unnamed: 104  Unnamed: 105  \
ISO Code 3 Year
ALB        2020       2012.00       2013.00      2014.00       2015.00
DZA        2020        153.00        157.00       159.00        159.00
AGO        2020         38.25         39.25        39.75         39.75
ARG        2020        114.75        117.75       119.25        119.25
ARM        2020         76.50         78.50        79.50         79.50
...                       ...           ...          ...           ...
VEN        1970           NaN           NaN          NaN           NaN
VNM        1970           NaN           NaN          NaN           NaN
YEM        1970           NaN           NaN          NaN           NaN
ZMB        1970           NaN           NaN          NaN           NaN
ZWE        1970           NaN           NaN          NaN           NaN

                Unnamed: 106  Unnamed: 107  Unnamed: 108  Unnamed: 109  \
ISO Code 3 Year
ALB        2020       2016.0        2017.0        2018.0       2019.00
DZA        2020        162.0         162.0         162.0        165.00
AGO        2020         40.5          40.5          40.5         41.25
ARG        2020        121.5         121.5         121.5        123.75
ARM        2020         81.0          81.0          81.0         82.50
...                      ...           ...           ...           ...
VEN        1970          NaN           NaN           NaN           NaN
VNM        1970          NaN           NaN           NaN           NaN
YEM        1970          NaN           NaN           NaN           NaN
ZMB        1970          NaN           NaN           NaN           NaN
ZWE        1970          NaN           NaN           NaN           NaN

                 Unnamed: 110
ISO Code 3 Year
ALB        2020       2020.00
DZA        2020        165.00
AGO        2020         41.25
ARG        2020        123.75
ARM        2020         82.50
...                       ...
VEN        1970           NaN
VNM        1970           NaN
YEM        1970           NaN
ZMB        1970           NaN
ZWE        1970           NaN

[4455 rows x 109 columns]
EFW Panel Data 2022 Report
                                  2020  ARG   UM      Argentina      4.87  \
Latin America & the Caribbean AR
Europe & Central Asia         AM  2020  ARM   UM        Armenia  7.840000
East Asia & Pacific           AU  2020  AUS    H      Australia  8.040000
Europe & Central Asia         AT  2020  AUT    H        Austria  7.560000
                              AZ  2020  AZE   UM     Azerbaijan  6.210000
Latin America & the Caribbean BS  2020  BHS    H   Bahamas, The  7.020000
...                                ...  ...  ...            ...       ...
                              VE  1970  VEN  NaN  Venezuela, RB  7.242943
East Asia & Pacific           VN  1970  VNM  NaN        Vietnam       NaN
Middle East & North Africa    YE  1970  YEM  NaN    Yemen, Rep.       NaN
Sub-Saharan Africa            ZM  1970  ZMB  NaN         Zambia  4.498763
                              ZW  1970  ZWE  NaN       Zimbabwe       NaN

                                  6.483767854280677  4.796453856217683  \
Latin America & the Caribbean AR
Europe & Central Asia         AM           7.975292           6.236215
East Asia & Pacific           AU           6.091321           8.336755
Europe & Central Asia         AT           4.929120           8.388811
                              AZ           4.550381           5.243687
Latin America & the Caribbean BS           8.646436           6.225554
...                                             ...                ...
                              VE           8.349529           5.003088
East Asia & Pacific           VN                NaN                NaN
Middle East & North Africa    YE                NaN                NaN
Sub-Saharan Africa            ZM           5.374545           4.472812
                              ZW                NaN                NaN

                                  4.516017683088538  3.086906776460489  \
Latin America & the Caribbean AR
Europe & Central Asia         AM           9.553009           7.692708
East Asia & Pacific           AU           9.557660           7.918387
Europe & Central Asia         AT           9.181004           8.094356
                              AZ           7.268722           7.012122
Latin America & the Caribbean BS           6.804486           5.215014
...                                             ...                ...
                              VE           9.621851           7.895993
East Asia & Pacific           VN                NaN                NaN
Middle East & North Africa    YE                NaN                NaN
Sub-Saharan Africa            ZM           5.137395                NaN
                              ZW                NaN                NaN

                                  5.490538424517783  1.254923941080943
Latin America & the Caribbean AR
Europe & Central Asia         AM           7.756333           1.178292
East Asia & Pacific           AU           8.272967           1.250766
Europe & Central Asia         AT           7.201705           1.631718
                              AZ           6.959071           1.226116
Latin America & the Caribbean BS           8.232494           1.418704
...                                             ...                ...
                              VE           5.209592           2.028426
East Asia & Pacific           VN                NaN                NaN
Middle East & North Africa    YE                NaN                NaN
Sub-Saharan Africa            ZM           5.307952           0.412514
                              ZW                NaN                NaN

[4451 rows x 11 columns]
EFW Data 1950_1965
                 1965.000000  5.675413
52  Argentina
9   Australia           1965     7.387365
20  Austria             1965     6.626116
11  Belgium             1965     7.279489
107 Benin               1965     3.884034
30  Bolivia             1965     6.247613
...                      ...          ...
34  Uruguay             1950     5.927550
20  Venezuela           1950     6.304037
42  Yemen, Rep.         1950     5.628150
73  Zambia              1950     4.069384
79  Zimbabwe            1950     3.830576

[454 rows x 2 columns]

In [31]:
dir(data)

['Countries',
 'Quartile',
 'Rank',
 'Region',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [32]:
# get the target sheet name from the list of sheet names
sheet_name = file.sheet_names[1]
data = pd.read_excel(filename, 
                     sheet_name = "EFW Panel Data 2022 Report",
                    index_col = [2,0])
rename = {"Panel Data Summary Index":"Summary",
          "Area 1":"Size of Government",
          "Area 2":"Legal System and Property Rights",
          "Area 3":"Sound Money",
          "Area 4":"Freedom to Trade Internationally",
          "Area 5":"Regulation"}
data.rename(columns = rename, inplace = True)
data

,,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
ISO_Code_3,Year,,,,,,,,,,,
ALB,2020,AL,Europe & Central Asia,UM,Albania,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958,1.652742
DZA,2020,DZ,Middle East & North Africa,LM,Algeria,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953,1.613103
AGO,2020,AO,Sub-Saharan Africa,LM,Angola,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545,1.598854
ARG,2020,AR,Latin America & the Caribbean,UM,Argentina,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538,1.254924
ARM,2020,AM,Europe & Central Asia,UM,Armenia,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333,1.178292
...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,1970,VE,Latin America & the Caribbean,NaN,"Venezuela, RB",7.242943,8.349529,5.003088,9.621851,7.895993,5.209592,2.028426
VNM,1970,VN,East Asia & Pacific,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,YE,Middle East & North Africa,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,ZM,Sub-Saharan Africa,NaN,Zambia,4.498763,5.374545,4.472812,5.137395,NaN,5.307952,0.412514
ZWE,1970,ZW,Sub-Saharan Africa,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Segue on boolean series, calling subsets of data

In [33]:
income_levels = data.keys()[2]
# access the unique values in the column by calling .unique()
data[income_levels].unique()

array(['UM', 'LM', 'H', 'L', nan, '..'], dtype=object)

In [34]:
# selects all rows with "H" Income Classification
data[data[income_levels] == "H"]

,,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
ISO_Code_3,Year,,,,,,,,,,,
AUS,2020,AU,East Asia & Pacific,H,Australia,8.040000,6.091321,8.336755,9.557660,7.918387,8.272967,1.250766
AUT,2020,AT,Europe & Central Asia,H,Austria,7.560000,4.929120,8.388811,9.181004,8.094356,7.201705,1.631718
BHS,2020,BS,Latin America & the Caribbean,H,"Bahamas, The",7.020000,8.646436,6.225554,6.804486,5.215014,8.232494,1.418704
BHR,2020,BH,Middle East & North Africa,H,Bahrain,7.470000,7.081093,4.918487,9.429684,8.261121,7.682671,1.671289
BRB,2020,BB,Latin America & the Caribbean,H,Barbados,7.010000,7.324463,5.912525,8.184047,6.018961,7.624463,1.005162
...,...,...,...,...,...,...,...,...,...,...,...,...
SWE,1990,SE,Europe & Central Asia,H,Sweden,7.273645,4.105904,8.206651,8.030525,9.213997,6.810469,1.965798
CHE,1990,CH,Europe & Central Asia,H,Switzerland,8.537019,7.449348,8.851723,9.598746,9.294085,7.431171,1.025263
ARE,1990,AE,Middle East & North Africa,H,United Arab Emirates,6.756066,5.767890,4.101529,7.962369,NaN,7.527121,1.768182
GBR,1990,GB,Europe & Central Asia,H,United Kingdom,8.200173,6.519684,8.164475,8.482826,9.139436,8.650617,0.998742
USA,1990,US,North America,H,United States,8.461126,7.262163,8.350956,9.669842,8.537828,8.477998,0.853932

In [35]:
# selects all rows with "UM" Income Classification
um_income_bool = data[income_levels] == "UM"
data[um_income_bool]

,,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
ISO_Code_3,Year,,,,,,,,,,,
ALB,2020,AL,Europe & Central Asia,UM,Albania,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958,1.652742
ARG,2020,AR,Latin America & the Caribbean,UM,Argentina,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538,1.254924
ARM,2020,AM,Europe & Central Asia,UM,Armenia,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333,1.178292
AZE,2020,AZ,Europe & Central Asia,UM,Azerbaijan,6.210000,4.550381,5.243687,7.268722,7.012122,6.959071,1.226116
BLR,2020,BY,Europe & Central Asia,UM,Belarus,6.830000,5.236437,5.473420,9.163656,7.302753,6.980477,1.586807
...,...,...,...,...,...,...,...,...,...,...,...,...
ZAF,1990,ZA,Sub-Saharan Africa,UM,South Africa,5.807061,6.891035,3.942684,5.876524,6.750809,5.855771,1.176107
SUR,1990,SR,Latin America & the Caribbean,UM,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TTO,1990,TT,Latin America & the Caribbean,UM,Trinidad and Tobago,5.621522,6.772555,4.975782,5.996212,2.798939,7.777625,1.903213
URY,1990,UY,Latin America & the Caribbean,UM,Uruguay,6.262442,7.026737,5.856224,3.762722,7.503044,7.137626,1.525014
VEN,1990,VE,Latin America & the Caribbean,UM,"Venezuela, RB",5.583700,7.128136,4.902547,4.060094,6.754464,5.024922,1.308920

In [36]:
# pretty much the same as above but cleaner code
# selects a second group to add to the table
high_income_bool = data[income_levels] == "H"
um_income_bool = data[income_levels] == "UM"
data[high_income_bool | um_income_bool]

,,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
ISO_Code_3,Year,,,,,,,,,,,
ALB,2020,AL,Europe & Central Asia,UM,Albania,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958,1.652742
ARG,2020,AR,Latin America & the Caribbean,UM,Argentina,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538,1.254924
ARM,2020,AM,Europe & Central Asia,UM,Armenia,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333,1.178292
AUS,2020,AU,East Asia & Pacific,H,Australia,8.040000,6.091321,8.336755,9.557660,7.918387,8.272967,1.250766
AUT,2020,AT,Europe & Central Asia,H,Austria,7.560000,4.929120,8.388811,9.181004,8.094356,7.201705,1.631718
...,...,...,...,...,...,...,...,...,...,...,...,...
ARE,1990,AE,Middle East & North Africa,H,United Arab Emirates,6.756066,5.767890,4.101529,7.962369,NaN,7.527121,1.768182
GBR,1990,GB,Europe & Central Asia,H,United Kingdom,8.200173,6.519684,8.164475,8.482826,9.139436,8.650617,0.998742
USA,1990,US,North America,H,United States,8.461126,7.262163,8.350956,9.669842,8.537828,8.477998,0.853932
URY,1990,UY,Latin America & the Caribbean,UM,Uruguay,6.262442,7.026737,5.856224,3.762722,7.503044,7.137626,1.525014
VEN,1990,VE,Latin America & the Caribbean,UM,"Venezuela, RB",5.583700,7.128136,4.902547,4.060094,6.754464,5.024922,1.308920

In [37]:
# selects everything besides "UM"
um_income_bool = data[income_levels] == "UM"
data[um_income_bool == False]

,,ISO_Code_2,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
ISO_Code_3,Year,,,,,,,,,,,
DZA,2020,DZ,Middle East & North Africa,LM,Algeria,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953,1.613103
AGO,2020,AO,Sub-Saharan Africa,LM,Angola,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545,1.598854
AUS,2020,AU,East Asia & Pacific,H,Australia,8.040000,6.091321,8.336755,9.557660,7.918387,8.272967,1.250766
AUT,2020,AT,Europe & Central Asia,H,Austria,7.560000,4.929120,8.388811,9.181004,8.094356,7.201705,1.631718
BHS,2020,BS,Latin America & the Caribbean,H,"Bahamas, The",7.020000,8.646436,6.225554,6.804486,5.215014,8.232494,1.418704
...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,1970,VE,Latin America & the Caribbean,NaN,"Venezuela, RB",7.242943,8.349529,5.003088,9.621851,7.895993,5.209592,2.028426
VNM,1970,VN,East Asia & Pacific,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,YE,Middle East & North Africa,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,ZM,Sub-Saharan Africa,NaN,Zambia,4.498763,5.374545,4.472812,5.137395,NaN,5.307952,0.412514
ZWE,1970,ZW,Sub-Saharan Africa,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
data = data[data.keys()[4:-1]]
data

,,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
ISO_Code_3,Year,,,,,,
ALB,2020,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958
DZA,2020,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953
AGO,2020,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545
ARG,2020,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538
ARM,2020,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333
...,...,...,...,...,...,...,...
VEN,1970,7.242943,8.349529,5.003088,9.621851,7.895993,5.209592
VNM,1970,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,4.498763,5.374545,4.472812,5.137395,NaN,5.307952
ZWE,1970,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# drops null rows
data.dropna(axis = 0)

,,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
ISO_Code_3,Year,,,,,,
ALB,2020,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958
DZA,2020,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953
AGO,2020,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545
ARG,2020,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538
ARM,2020,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333
...,...,...,...,...,...,...,...
TUN,1970,5.538385,4.946963,6.340170,6.885720,3.500622,6.225955
TUR,1970,4.277887,5.183333,4.764211,5.476488,0.246240,5.578751
GBR,1970,6.035320,4.622300,7.344851,7.312995,3.981406,7.489366
USA,1970,7.615181,5.341231,8.286741,9.588817,8.232334,6.631262
VEN,1970,7.242943,8.349529,5.003088,9.621851,7.895993,5.209592

In [40]:
# drops columns that are all null values
data.dropna(axis = 1, how = "all")

,,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
ISO_Code_3,Year,,,,,,
ALB,2020,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958
DZA,2020,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953
AGO,2020,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545
ARG,2020,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538
ARM,2020,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333
...,...,...,...,...,...,...,...
VEN,1970,7.242943,8.349529,5.003088,9.621851,7.895993,5.209592
VNM,1970,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,4.498763,5.374545,4.472812,5.137395,NaN,5.307952
ZWE,1970,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# drops columns that contain a null value
data.dropna(axis = 1, how = "any")

Empty DataFrame
Columns: []
Index: [(ALB, 2020), (DZA, 2020), (AGO, 2020), (ARG, 2020), (ARM, 2020), (AUS, 2020), (AUT, 2020), (AZE, 2020), (BHS, 2020), (BHR, 2020), (BGD, 2020), (BRB, 2020), (BLR, 2020), (BEL, 2020), (BLZ, 2020), (BEN, 2020), (BTN, 2020), (BOL, 2020), (BIH, 2020), (BWA, 2020), (BRA, 2020), (BRN, 2020), (BGR, 2020), (BFA, 2020), (BDI, 2020), (CPV, 2020), (KHM, 2020), (CMR, 2020), (CAN, 2020), (CAF, 2020), (TCD, 2020), (CHL, 2020), (CHN, 2020), (COL, 2020), (COM, 2020), (COD, 2020), (COG, 2020), (CRI, 2020), (CIV, 2020), (HRV, 2020), (CYP, 2020), (CZE, 2020), (DNK, 2020), (DJI, 2020), (DOM, 2020), (ECU, 2020), (EGY, 2020), (SLV, 2020), (EST, 2020), (SWZ, 2020), (ETH, 2020), (FJI, 2020), (FIN, 2020), (FRA, 2020), (GAB, 2020), (GMB, 2020), (GEO, 2020), (DEU, 2020), (GHA, 2020), (GRC, 2020), (GTM, 2020), (GIN, 2020), (GNB, 2020), (GUY, 2020), (HTI, 2020), (HND, 2020), (HKG, 2020), (HUN, 2020), (ISL, 2020), (IND, 2020), (IDN, 2020), (IRN, 2020), (IRQ, 2020), (IRL, 2020), (ISR, 2020), (ITA, 2020), (JAM, 2020), (JPN, 2020), (JOR, 2020), (KAZ, 2020), (KEN, 2020), (KOR, 2020), (KWT, 2020), (KGZ, 2020), (LAO, 2020), (LVA, 2020), (LBN, 2020), (LSO, 2020), (LBR, 2020), (LBY, 2020), (LTU, 2020), (LUX, 2020), (MDG, 2020), (MWI, 2020), (MYS, 2020), (MLI, 2020), (MLT, 2020), (MRT, 2020), (MUS, 2020), (MEX, 2020), ...]

[4455 rows x 0 columns]

In [42]:
data_for_stats = data.dropna(how="any")
data

,,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
ISO_Code_3,Year,,,,,,
ALB,2020,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958
DZA,2020,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953
AGO,2020,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545
ARG,2020,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538
ARM,2020,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333
...,...,...,...,...,...,...,...
VEN,1970,7.242943,8.349529,5.003088,9.621851,7.895993,5.209592
VNM,1970,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,4.498763,5.374545,4.472812,5.137395,NaN,5.307952
ZWE,1970,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
stats_DF = gather_statistics(data_for_stats, sample = False)
stats_DF

/var/folders/hz/vggy99z9791d4jlzyvlw3r9w0000gn/T/ipykernel_49625/3563687800.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val.dropna(inplace = True)

,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
mean,6.64,6.61,5.28,7.81,6.76,6.73
median,6.76,6.65,5.10,8.15,7.01,6.87
variance,1.27,1.47,2.82,3.11,2.87,1.45
S.D.,1.13,1.21,1.68,1.76,1.70,1.20
skewness,-0.60,-0.14,0.35,-1.31,-0.98,-0.55
kurtosis,3.18,2.60,2.40,5.41,4.20,3.15

In [44]:
cov_DF = data_for_stats.cov().round(2)
cov_DF

,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
Summary,1.27,0.42,1.45,1.67,1.68,1.13
Size of Government,0.42,1.47,-0.25,0.30,0.31,0.25
Legal System and Property Rights,1.45,-0.25,2.82,1.55,1.80,1.31
Sound Money,1.67,0.30,1.55,3.11,2.07,1.28
Freedom to Trade Internationally,1.68,0.31,1.80,2.07,2.87,1.33
Regulation,1.13,0.25,1.31,1.28,1.33,1.45

In [45]:
corr_DF = data_for_stats.corr().round(2)
corr_DF

,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
Summary,1.00,0.31,0.76,0.84,0.88,0.83
Size of Government,0.31,1.00,-0.12,0.14,0.15,0.17
Legal System and Property Rights,0.76,-0.12,1.00,0.52,0.63,0.65
Sound Money,0.84,0.14,0.52,1.00,0.69,0.60
Freedom to Trade Internationally,0.88,0.15,0.63,0.69,1.00,0.65
Regulation,0.83,0.17,0.65,0.60,0.65,1.00

In [46]:
# alphabetize columns
data_for_stats.corr().round(2).sort_index(axis = 1).sort_index(axis = 0)

,Freedom to Trade Internationally,Legal System and Property Rights,Regulation,Size of Government,Sound Money,Summary
Freedom to Trade Internationally,1.00,0.63,0.65,0.15,0.69,0.88
Legal System and Property Rights,0.63,1.00,0.65,-0.12,0.52,0.76
Regulation,0.65,0.65,1.00,0.17,0.60,0.83
Size of Government,0.15,-0.12,0.17,1.00,0.14,0.31
Sound Money,0.69,0.52,0.60,0.14,1.00,0.84
Summary,0.88,0.76,0.83,0.31,0.84,1.00

In [47]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import os

def corr_matrix_heatmap(data, dim = 20, pp = None):
    fig, ax = plt.subplots(figsize = (dim,dim))
    im = ax.imshow(data, norm = plt.cm.colors.Normalize(-1,1), cmap = "seismic")
    labels = data.keys()
    num_vars = len(labels)
    tick_labels = [label.replace(" ","\n") for label in labels]
    tick_font_size = 120 / num_vars
    val_font_size = 200 / num_vars
    plt.rcParams.update({'font.size': tick_font_size})
    x_ticks = np.arange(num_vars)
    plt.xticks(x_ticks, tick_labels, fontsize = tick_font_size, rotation = 90)
    y_ticks = np.arange(num_vars)
    plt.yticks(y_ticks, tick_labels, fontsize = tick_font_size)
    # put all of the options chosen above to use and create the correlation figure
    for i in range (len(labels)):
        for j in range (len(labels)):
            text = ax.text(i,j,str(round(data.values[i][j], 2)),
                          fontsize = val_font_size, ha = "center",
                          va = "center", color = "w")
    title_font = {"fontname":"Times New Roman"}
    plt.title("Correlation", fontsize = 50, **title_font)
    
    
    cbar = fig.colorbar(im)
    plt.show()
    if pp != None:
        pp.savefig(fig, bb_inches = "tight")
    plt.close()
    
try:
    os.mkdir(folder)
except:
    print(folder, "already exists")
    
# create pdf   
pp = PdfPages(folder + "/Economic Freedom Plots.pdf")    
    
    
corr_data = data.corr()
corr_matrix_heatmap(corr_data, pp = pp)

NameError: name 'folder' is not defined

### building scatter plots with time as horizontal axis

In [48]:
mean_data = data.groupby("Year").mean()
mean_data

,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation
Year,,,,,,
1970,5.699777,6.115453,4.828106,7.219435,5.142756,5.643092
1975,5.330897,5.638449,4.704443,6.007796,4.904180,5.600009
1980,5.358043,5.474844,4.790720,6.094311,4.946113,5.661589
1985,5.423119,5.477523,4.872785,6.261684,4.982920,5.687262
1990,5.716292,6.061804,4.964320,6.302771,5.617330,5.816249
1995,6.163039,6.497296,5.199571,6.481726,6.832335,6.085262
2000,6.592760,6.628378,5.231726,7.598053,6.984603,6.559508
2001,6.599041,6.668608,5.196628,7.770338,6.982832,6.394464
2002,6.663490,6.662246,5.185988,7.861788,6.997352,6.621917
2003,6.681009,6.672367,5.166744,7.880149,7.047378,6.649483
2004,6.710922,6.725984,5.166447,7.951051,6.992921,6.722156
2005,6.736056,6.854917,5.293075,7.864794,6.883771,6.782237
2006,6.780060,6.846312,5.352180,7.894100,6.940902,6.864784
2007,6.810935,6.899178,5.387801,7.922043,6.981182,6.866936
2008,6.769782,6.852975,5.374990,7.764033,7.023490,6.834730
2009,6.774924,6.681671,5.367239,7.930318,7.020073,6.878410
2010,6.809513,6.650865,5.292711,8.037720,7.032564,7.021393
2011,6.812160,6.713350,5.295417,8.018281,7.021954,7.037927
2012,6.823437,6.716821,5.287927,8.111376,6.986931,7.030441
2013,6.820710,6.693263,5.263555,8.194170,6.965516,6.994317
2014,6.869996,6.679071,5.311640,8.286492,7.050601,7.018232
2015,6.868486,6.685504,5.344179,8.277932,7.024002,7.006872
2016,6.872591,6.745947,5.310897,8.315198,7.002284,6.986641
2017,6.840911,6.714026,5.323041,8.280965,6.994231,6.892610
2018,6.888338,6.748693,5.331769,8.345674,7.012747,7.005562
2019,6.893302,6.768514,5.312195,8.328343,7.030791,7.029122
2020,6.749758,6.603613,5.360975,8.242351,6.615388,6.927039

In [49]:
plt.rcParams.update({'font.size': 20})

def plot_ts_scatter(data, pp = None):
    time = data.index.get_level_values("Year")
    for key, val in data.items():
        fig, ax = plt.subplots(figsize = (10,6))
        ax.scatter(time, val, alpha = .2, color = "k", s = 50)
        ax.set_title(key, fontsize = 27)
        mean_data[key].plot(ax = ax, linewidth = 10, color = "C0", alpha = .8)
        plt.show()
        plt.savefig(folder + "/" + key + ".jpeg")
        if pp != None:
            pp.savefig(fig, bbox_inches = "tight")
        plt.close()
        
plot_ts_scatter(data,pp)

NameError: name 'pp' is not defined

In [50]:

#create a pdf
def color_dim_scatter(data, pp):
    for key1 in data:
        for key2 in data:
            # don't plot the same variable on x and y
            if key1 != key2:
                for key3 in data:
                    # don't plot the same variable for c,x, and y
                    if key1 != key3 and key2 != key3:
                        fix, ax = plt.subplots(figsize = (10,8))
                        data.plot.scatter(x = key1,
                                          y = key2,
                                          c = key3,
                                          colormap = "viridis",
                                          s = 10,
                                          alpha = .7,
                                          ax = ax)
                    # remove the ticklines
                        plt.setp(ax.get_xticklines(), visible = False)
                        plt.setp(ax.get_yticklines(), visible = False)
                    
                    #show figure
                        plt.show()
                    
                    #save the figure we showed
                        pp.savefig(fig, bbox_inches = "tight")
                    
                    #close the figure
                        plt.close

color_dim_scatter(data[["Size of Government","Legal System and Property Rights", "Sound Money"]], pp)
# close the pdf so that it can be opened
pp.close()

NameError: name 'pp' is not defined

In [51]:
folder

NameError: name 'folder' is not defined

In [52]:
def formatted_scatter_matrix(data, pp = None, dim = 15):
    figsize = (dim, dim)
    num_vars = len(data.keys())
    font_size = 90 / num_vars
    fig, ax = plt.subplots(figsize = figsize)
    pd.plotting.scatter_matrix(data,
                               alpha = .1,
                               ax = ax,
                               # s means size
                               s = 300 / num_vars)
    plt.rcParams.update({'font.size': font_size})
    plt.tight_layout()
    plt.show()
    if pp != None:
        # bbox_inches helps keep the figure from being cut off
        pp.savefig(fig, bbox_inches = "tight")
    plt.close()


plot_data = data.rename(
    columns = {key:key.replace(" ", "\n") for key in data.keys()})
formatted_scatter_matrix(plot_data, pp, dim = 15)

# closes the pdf so it can be opened without corrupting
pp.close()

NameError: name 'pp' is not defined